body{
    margin: 0;
    font-family: 'Montserrat';
    background-color: black;
    overflow: hidden;
    color: white;
}
.out{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.box{
    display: flex;
    flex: 1;
}
.sidebar{
    background-color: #121212;
    width: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 1rem;
    margin: 0.5rem;
}
.navbar{
    background-color: black;
    height: 55px;
    margin-bottom: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.5rem;
}
.icon{
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin: 0.5rem;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #1F1F1F;
}
.search div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search{
    border-radius: 50px;
    width: 450px;
    display: flex;
    margin-bottom: 0.5rem;
    height: 45px;
    padding: 0.25rem 1rem 0.25rem 1rem;
    color: grey;
    align-items: center;
    justify-content: space-between;
    background-color: #1F1F1F;
}
.search:hover{
    background-color: #434242;
    border: 1px solid grey;
}
div span{
    color: white;
    font-size: 2rem;
}
img{
    margin: 1rem;
    width: 50px;
    height: 50px;
}
.sign{
    background: linear-gradient(to right, #AF2896, #6680DF);;
    height: 55px;
    width: 98%;
    cursor: pointer;
    margin: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
}
.main{
    background: linear-gradient(to bottom, #434242, #1F1F1F);
    flex: 1;
    overflow-y: auto;
    border-radius: 1rem;
    margin: 0.5rem;
}
.lib{
    display: flex;
    justify-content: space-between;
}
.lib div{
    margin: 0 1rem 0 1rem;
    font-size: 0.95rem;
    font-weight: bold;
}
.card{
    margin-top: 0;
}
.create{
    background-color: #1F1F1F;
    border-radius: 0.5rem;
    margin:  0 1rem 0 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}
.head{
    font-weight: bold;
    font-size: 0.85rem;
    margin: 0;
}
.content{
    margin: 0;
    font-size: 0.9rem;
    font-weight: 500;
}
.btn{
    background-color: white;
    color: black;
    border-radius: 100px;
    border: none;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.5rem 1rem 0.5rem 1rem;
}
.create div{
    margin-bottom: 0.5rem;
}
.sidebar div{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.link a{
    text-decoration: none;
    display: inline-block;
    color: #AEB3A4;
    margin: 0.5rem;
    font-size: 0.65rem;
}
#cookie{
    color: white;
}
#cookie:hover{
    text-decoration: underline;
    cursor: pointer;
}
.link{
    margin-left: 1.5rem;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
}
#lang{
    background-color: black;
    color: white;
    margin-left: 2rem;
    border-radius: 100px;
    border:1px solid  white;
    padding: 0.5rem;
}
#lang span{
    font-size: 1rem;
    vertical-align: middle;
    padding-right: 0.5rem;
}
.text{
    font-weight: 500;
    font-size: 0.85rem;
    flex: 2;
}
.signup{
    font-size: 1.05rem;
    margin-right: 1rem;
    background-color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    font-weight: bold;
}
.right-nav a{
    font-size: 0.95rem;
}
.install{
    display: flex;
    justify-content: center;
    align-items: center;
}
.last-btn{ 
    background-color: white; 
    font-weight: bold; 
    padding: 0.75rem 1.5rem; 
    border: none; 
    border-radius: 100px; 
    font-size: 1rem; 
}
.home:hover{
    transform: scale(1.05);
    background-color: #434242;
    cursor: pointer;
}
.right-nav button:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.install:hover{
    a,span{transform: scale(1.05);
    color: white;
    }
}
.install span{
    color: grey;
}
.right-nav a:hover{
    transform: scale(1.05);
    color: white;
}
button{
    cursor: pointer;
}